<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/stylelvl2.css" />
    <!-- <link rel="stylesheet" href="../css/regular.min.css"> -->
    <!-- <link rel="stylesheet" href="../css/solid.min.css">
    <link rel="stylesheet" href="../css/brands.min.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">         -->
    <title>Edu Games 1</title>
  </head>
  <body style="overflow: auto">
    <div id="container" class="container">
      <div class="card-custom row thinkers-sortable">
        <div class="col-md-12" id="nav_menu">
          <div class="d-flex mb-2">
            <div class="ms-auto">
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#menu" id="trigger-menu">
                <span class="fa fa-pause"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-12" id="coba">
          <ul id="response_drop" class="d-flex">
            <li id="done" class="align-self-center" style="width: 100%">
              <div class="d-flex justify-content-end">
                <button class="btn btn-success btn-lg" data-bs-target="#result_score" data-bs-toggle="modal" id="selesai">Selesai</button>
              </div>
            </li>
            <li class="right-chevron">
              <button class="chevron-response-drop" id="right_relation_drop">
                <span class="fa fa-chevron-right"></span>
              </button>
            </li>
            <li class="left-chevron">
              <button class="chevron-response-drop" id="left_relation_drop">
                <span class="fa fa-chevron-left"></span>
              </button>
            </li>
            <li class="response_drag" data-id="1">
              <div class="box-response">
                <img src="../img/teacher.png" alt="" />
                <p>Guru</p>
              </div>
            </li>
            <li class="response_drag" data-id="2">
              <div class="box-response">
                <img src="../img/farmer.png" alt="" />
                <p>Petani</p>
              </div>
            </li>
            <li class="response_drag" data-id="3">
              <div class="box-response">
                <img src="../img/firefighter.png" alt="" />
                <p>Pemadam Kebakaran</p>
              </div>
            </li>
            <li class="response_drag" data-id="4">
              <div class="box-response">
                <img src="../img/doctor.png" alt="" />
                <p>Dokter</p>
              </div>
            </li>
            <li class="response_drag" data-id="5">
              <div class="box-response">
                <img src="../img/police.png" alt="" />
                <p>Polisi</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-12 relation">
          <ul id="relation_drop" class="row">
            <li class="col-6" data-id="1">
              <div class="box-equation-level2">
                <div class="toggle_sortable"></div>
                <div class="box-relation">
                  <img src="../img/teacher-tool.jpg" alt="" class="min-vh-100" height="1000" />
                  <!-- <p>Pesawat</p> -->
                </div>
              </div>
            </li>
            <li class="col-6" data-id="2">
              <div class="box-equation-level2">
                <div class="toggle_sortable"></div>
                <div class="box-relation">
                  <img src="../img/farmer-tool.jpg" alt="" />
                  <!-- <p>Kapal Laut</p> -->
                </div>
              </div>
            </li>
            <li class="col-6" data-id="3">
              <div class="box-equation-level2">
                <div class="toggle_sortable"></div>
                <div class="box-relation">
                  <img src="../img/firefighter-tool.jpg" alt="" />
                  <!-- <p>Sekolah</p> -->
                </div>
              </div>
            </li>
            <li class="col-6" data-id="4">
              <div class="box-equation-level2">
                <div class="toggle_sortable"></div>
                <div class="box-relation">
                  <img src="../img/doctor-tool.jpg" alt="" />
                  <!-- <p>Kereta</p> -->
                </div>
              </div>
            </li>
            <li class="col-6" data-id="5">
              <div class="box-equation-level2">
                <div class="toggle_sortable"></div>
                <div class="box-relation">
                  <img src="../img/police-tool.jpg" alt="" />
                  <!-- <p>Kebun</p> -->
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="restore-screen">
        <button type="button" class="btn btn-primary" id="exit_fullscreen">
          <span class="fas fa-compress"></span>
        </button>
      </div>
    </div>
    <div class="modal fade" id="menu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pause</h5>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col text-center">
                  <button class="btn btn-success" data-bs-dismiss="modal" id="resume">
                    <span class="fa fa-play"></span>
                  </button>
                </div>
                <div class="col text-center">
                  <button class="btn btn-success" id="reload">
                    <span class="fa fa-redo-alt"></span>
                  </button>
                </div>
                <div class="col text-center">
                  <button class="btn btn-success" id="fullscreen">
                    <span class="fas fa-expand"></span>
                  </button>
                </div>
                <div class="col text-center">
                  <button class="btn btn-danger" id="exit">
                    <span class="fa fa-times"></span>
                  </button>
                </div>
                <div class="col text-center">
                  <button class="btn btn-primary" id="home">
                    <span class="fa fa-home"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="result_score" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Score</h5>
          </div>
          <div class="modal-body">
            <div class="d-flex">
              <div class="lose-lvl">
                <h3>Yah Kamu Kalah</h3>
                <h3>Ayo Semangat!</h3>
              </div>
              <img class="lose-lvl" src="../img/lose.gif" alt="" />
            </div>
            <div class="d-flex">
              <div class="win-lvl">
                <h3>Selamat Kamu Telah Menyelesaikan Level Ini</h3>
                <h3>Kamu Mendapatkan Piala</h3>
              </div>
              <img class="win-lvl" src="../img/thropy.gif" alt="" width="200" />
            </div>
            <div class="d-flex">
              <p class="card-text">Betul : <span id="show_result"></span> dari 5</p>
            </div>
          </div>
          <div class="modal-footer">
            <a href="../index.html">
              <button type="button" class="btn btn-success next-lvl">Kembali Ke Home</button>
            </a>
            <button type="button" class="btn btn-warning repeat-lvl" id="repeat">Ulangi Lagi</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/jquery.ui.touch-punch.min.js"></script>
    <script src="../js/jquery.fullscreen.min.js"></script>
    <!-- <script src="../js/lock-orientation-landscape.js"></script> -->
    <script src="https://kit.fontawesome.com/5e28bc552a.js" crossorigin="anonymous"></script>
    <script src="../js/app.js"></script>
    <script>
      var indexUI = {
        response: [1, 2, 3, 4, 5],
        relation: [],
      };
      // [[1], [2], [6], [7], [8], [3], [5], [4]]

      var answer = [];

      var relation = [];
      var audio = document.createElement('audio');
      pushRelation();
      function pushRelation() {
        for (const item of $('#relation_drop > li')) {
          relation.push({
            id: $(item).data('id'),
            img: $(item).find('img').attr('src'),
            text: $(item).find('p').text(),
          });
        }
      }

      $('#done').hide();
      var dragResponse = false;

      var getContainer = $('#container').html();

      function appendRelation(id, img, text) {
        return (
          '<li class="col-6" data-id="' +
          id +
          '">' +
          '<div class="box-equation-level2">' +
          '<div class="toggle_sortable">' +
          '        </div>                  ' +
          '        <div class="box-relation">' +
          '            <img src="' +
          img +
          '" alt="" class="h-100 w-50">' +
          '            <p>' +
          text +
          '</p>' +
          '        </div>      ' +
          '    </div>       ' +
          '</li>'
        );
      }

      randomGame();

      function randomGame() {
        var answer = [];
        $('#relation_drop').empty();
        for (let i = 0; i < 5; i++) {
          var pickRandom = Math.floor(Math.random() * 5) + 1;
          while (answer.indexOf(pickRandom) > -1) {
            pickRandom = Math.floor(Math.random() * 5) + 1;
          }

          answer.push(pickRandom);

          // console.log(pickRandom);
          var arr_relation = relation[pickRandom - 1];

          this.answer[i] = [pickRandom];
          // defaultContent.answer[i] = [pickRandom]

          // console.log(relation[pickRandom]);

          $('#relation_drop').append(appendRelation(arr_relation.id, arr_relation.img, arr_relation.text));
        }
      }

      lockLandscape();
      setTimeout(() => {
        setFullScreen_mode();
      });

      function fullscreen_mode() {
        $('#nav_menu').hide();
        $('body').css('overflow', 'hidden');
        $('.restore-screen').show();
      }

      $('#fullscreen').click(() => {
        $('html').fullscreen();
        fullscreen_mode();
        $('#menu').modal('hide');
        audio.src = '../audio/maximize_008.ogg';
        audio.play();
        return false;
      });

      $('#exit_fullscreen').click(() => {
        $.fullscreen.exit();
        $('body').css('overflow', 'auto');
        $('#nav_menu').show();
        $('.restore-screen').hide();
        audio.src = '../audio/minimize_008.ogg';
        audio.play();
        return false;
      });

      $('#exit').click(() => {
        $('#menu').modal('hide');
        audio.src = '../audio/mouserelease1.ogg';
        audio.play();
      });

      $('#resume').click(() => {
        audio.src = '../audio/mouserelease1.ogg';
        audio.play();
      });

      function reload() {
        $('#container').html(getContainer);
        indexUI.response = [1, 2, 3, 4, 5];
        indexUI.relation = [];
        randomGame();
        $('#menu').modal('hide');
        audio.src = '../audio/interface-124464.mp3';
        audio.play();
        window.setTimeout(() => {
          location.reload();
        }, 1000);
      }

      $('#reload').click(function () {
        reload();
      });

      $('#repeat').click(function () {
        reload();
        $('#result_score').modal('hide');
      });

      $('#home').click(function () {
        audio.src = '../audio/mouserelease1.ogg';
        audio.play();
        window.setTimeout(() => {
          window.location.href = '../index.html';
        }, 1000);
      });

      $('#trigger-menu').click(function () {
        //document.getElementById('container').append(audio);
        audio.src = '../audio/mouseclick1.ogg';
        audio.play();
      });

      $('#selesai').click(function () {
        if (countResult() == answer.length) {
          audio.src = '../audio/yay-6120.mp3';
          $('.repeat-lvl').hide();
          $('.next-lvl').show();
          $('.lose-lvl').hide();
          $('.win-lvl').show();
        } else {
          audio.src = '../audio/negative_beeps-6008.mp3';
          $('.next-lvl').hide();
          $('.win-lvl').hide();
          $('.repeat-lvl').show();
          $('.lose-lvl').show();
        }
        audio.play();
      });

      if (window.innerWidth <= 1240) {
        $('#response_drop > .response_drag').draggable({
          appendTo: 'body',
          // containment: 'window',
          helper: 'clone',
          scroll: false,
          revert: 'invalid',
          // drag : function(e, ui){
          //     console.log('drag');
          // },
          start: function (e, ui) {
            $('#done').hide();
            if (window.innerWidth <= 1240) {
              $(ui.helper).css({
                'list-style-type': 'none',
                color: 'black',
                'border-radius': '5px',
                'text-align': ' center',
                padding: '10px',
                height: 'min-content',
              });

              $(ui.helper).find('.box-response > img').css({
                width: '100%',
              });

              $(ui.helper).find('.box-response > p').css({
                'margin-top': '10px',
                width: '62px',
                'border-top': '1px solid #aeb1b8',
              });
            }
          },
          stop: function (e, ui) {
            checkResponseDrop();
          },
          drag: function (e, ui) {
            // console.log(ui);
          },
        });
      } else {
        $('#response_drop > .response_drag').draggable({
          scroll: false,
          revert: 'invalid',
          // drag : function(e, ui){
          //     console.log('drag');
          // },
          start: function (e, ui) {
            $('#done').hide();
          },
          stop: function (e, ui) {
            checkResponseDrop();
          },
          drag: function (e, ui) {
            // console.log(ui);
          },
        });
      }

      function checkResponseDrop() {
        !!indexUI.response.length ? $('#done').hide() : $('#done').show();
        // console.log(!!indexUI.response.length);
      }

      $('#response_drop').droppable({
        classes: {
          'ui-droppable-active': 'ui-state-active',
          'ui-droppable-hover': 'ui-state-hover',
        },
        drop: function (e, ui) {
          var dropped = ui.draggable;
          var droppedOn = $(this);
          console.log(indexUI.response.indexOf($(dropped).data('id')));
          if (indexUI.response.indexOf($(dropped).data('id')) == -1) {
            $(dropped).detach().css({ top: 0, left: 0, padding: 10 }).appendTo(droppedOn);
            $(dropped).find('.box-response').css({ padding: 10 });
            indexUI.relation.splice(indexUI.response.indexOf($(dropped).data('id')), 1);
            indexUI.response.push($(dropped).data('id'));
          } else {
            $(dropped).css({ top: 0, left: 0, padding: 10 });
          }
          removeAccept();
        },
      });

      function removeFindAnswer(id) {
        for (const x of answer) {
          if (x[1] == id) {
            x.splice(1, 1);
          }
        }
      }

      function removeAccept() {
        // $(this).droppable({accept : '.response_drag'});
        for (const item of $('#relation_drop').find('.toggle_sortable')) {
          if ($(item).has('li').length > 0) {
            continue;
          }
          $(item).droppable({ accept: '.response_drag' });
        }
      }

      $('#relation_drop')
        .find('.toggle_sortable')
        .droppable({
          classes: {
            'ui-droppable-hover': 'ui-state-hover',
          },
          drop: function (e, ui) {
            var dropped = ui.draggable;
            var droppedOn = $(this);
            var droppedIndex = $('#relation_drop').find('.toggle_sortable').index(this);
            $(dropped).detach().css({ top: 0, left: 0, padding: 0 }).appendTo(droppedOn);
            $(dropped).find('.box-response').css({ margin: 0, padding: 5 });
            $(dropped).find('.box-response > p').css({ margin: '10px 5px 5px 5px' });
            $(this).droppable({ accept: '' });
            if (window.innerWidth <= 1366) {
              $(dropped).find('.box-response > p').css({ margin: '10px 0 0 0' });
            }
            if (window.innerWidth <= 568) {
              $(dropped).find('.box-response > p').css({ marginTop: 5 });
            }
            removeFindAnswer($(dropped).data('id'));
            answer[droppedIndex].push($(dropped).data('id'));
            if (indexUI.response.indexOf($(dropped).data('id')) > -1) {
              indexUI.response.splice(indexUI.response.indexOf($(dropped).data('id')), 1);
              indexUI.relation.push($(dropped).data('id'));
            }
            checkResponseDrop();
            setResult();
            removeAccept();
          },
        });

      function countResult() {
        var result = 0;
        for (const item of answer) {
          if (item[0] == item[1]) {
            result++;
          }
        }
        return result;
      }

      function setResult() {
        $('#show_result').text(' ' + countResult() + ' ');
      }
    </script>
  </body>
</html>
